body {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial;
  text-align: center;
}

textarea {
  width: 80%;
  height: 300px;
  margin: 10px;
  background: #252526;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
}

select, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

button {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

pre {
  background: black;
  padding: 10px;
  width: 80%;
  margin: auto;
  text-align: left;
}